* {
    box-sizing: border-box;
}
:root {
    --primary-color: #ff5b2e;
}
html,
body {
    scroll-behavior: smooth;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fffaf5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}
input,
textarea,
button {
    font-family: inherit;
    font-size: inherit;
}

/* ---------------Common-------------------- */
.container {
    width: 1170px;
    margin: 0 auto;
    max-width: calc(100% - 48px);
}
a {
    text-decoration: none;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;

    --height: 56px;
    width: 131px;
    height: var(--height);
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    text-align: center;
    color: #ffffff;
    background: var(--primary-color);
    border-radius: 99px;
    transition: 0.5s;
    border: 2px solid var(--primary-color);
}
.btn:hover {
    opacity: 0.5;
    transform: scale(1.1);
    cursor: pointer;
}

.section__heading {
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.19;
    color: #000958;
}
.section__desc {
    margin-top: 24px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #656689;
}
/* ---------------Header-------------------- */
.header {
    padding: 26px 0;
    position: sticky;
    top: -20px;
    z-index: 99;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__list {
    display: flex;
}
.navbar__item {
    padding: 8px 18px;
}
.navbar-link,
.header__action-link {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
    color: #5e6085;
    transition: 0.5s;
}
.navbar-link:hover {
    color: #000958;
    text-shadow: 1px 0 0 currentColor;
}
.header__action {
    display: flex;
    align-items: center;
}
.header__action-btn {
    --height: 50px;
    color: #000958;
    background: #e5e5e5;
    border-color: rgba(0, 9, 88, 0.77);
    min-width: 117px;
    margin-left: 16px;
}
/* ---------------Hero-------------------- */
.hero {
    margin-top: 76px;
}
.hero__media {
    display: flex;
    position: relative;
    padding-bottom: 94px;
}
.hero__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero__media-inner {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    width: 388px;
    height: 488px;
    background: #fe997b;
    border-radius: 16px;
    border: 3px solid #fff;
}
.hero-img__thumb {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}
.hero-decor__img {
    position: absolute;
    z-index: -1;
}
.hero-decor__img-left {
    left: -60px;
    bottom: 10px;
}
.hero-decor__img-right {
    top: 17px;
    right: -45px;
}
.hero-images__2nd {
    align-self: flex-end;
    width: 186px;
    height: 244px;
    margin: 0 0 -58px -24px;
    background: #f49aa2;
}
.hero__list-pet {
    position: absolute;
    bottom: 0;
    left: 129px;
    width: 250px;
    height: 156px;
    background: #ffffff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    border-radius: 10px;
    padding: 18px 14px;
}
.hero__item-pet {
    display: flex;
    align-items: center;
}

.hero-pet__img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
    background: #fdc03d;
}
.hero__item-pet:nth-of-type(2) .hero-pet__img {
    background: #aacce9;
}
.hero-pet__info {
    margin-left: 10px;
}
.hero-pet__title {
    font-family: "Sora";
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
    color: #181e52;
}
.hero-pet__skeleton {
    margin-top: 7px;
    width: var(--with, 118px);
    height: 4px;
    border-radius: 99px;
    background: #000958;
    opacity: 0.08;
}
.hero-list__separate {
    margin: 20px 0;
    width: 100%;
    height: 2px;
    background: #f2f2f2;
}
.hero-content {
    margin-left: 120px;
}
.hero__heading {
    font-weight: 800;
    font-size: 6.6rem;
    line-height: 1.15;
    color: #000958;
    max-width: 517px;
}
.hero__desc {
    margin-top: 24px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #656689;
    max-width: 391px;
}
.hero-cta {
    margin-top: 38px;
    display: flex;
    align-items: center;
}
.hero-cta__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    --height: 60px;
    min-width: 189px;
}
.hero__icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    margin-left: 10px;
    color: #fd5056;
}
.hero-cta__link {
    margin-left: 24px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    text-decoration: underline;
    color: #000958;
}
/* ---------------About-------------------- */
.about {
    margin-top: 138px;
    scroll-margin-top: 150px;
}
.about__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    row-gap: 95px;
}
.about__title {
    font-family: Sora, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1;
    color: #5e6085;
}
.about__heading {
    margin-top: 15px;
    max-width: 446px;
}
.about__desc {
    max-width: 431px;
}
.about__list {
    margin-top: 57px;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 40px;
    justify-content: flex-start;
    column-gap: 36px;
}
.about__item {
    position: relative;
    display: flex;
    align-items: center;
}
.about__item::before,
.about__item::after {
    display: inline-block;
}
.about__item::before {
    content: "";
    margin-right: 10px;
    width: 24px;
    height: 24px;
    background: #ff5d31;
    border-radius: 4px;
}
.about__item::after {
    content: url(../icon/check.svg);
    position: absolute;
    top: 3px;
    left: 4px;
}

/* About--Media */
.about__media {
    position: relative;
}
.about__label {
    position: absolute;
    width: 136px;
    top: 165px;
    left: 0;
    left: 0;
    padding: 30px 26px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px rgba(85, 240, 255, 0.17);
    border-radius: 10px;
    text-align: center;
}
.about__label-title {
    font-family: Sora, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 1;
    color: #ffffff;
}
.about__label-desc {
    margin-top: 14px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.43;
    color: #c6f4f9;
}
.about__label-decor {
    position: absolute;
    top: -24px;
    right: -2px;
}
.about__images {
    width: 494px;
    position: relative;
    margin-left: auto;
}
.about__img-thumb {
    display: block;
    width: 100%;
    object-fit: cover;
}
.about__images::after {
    position: absolute;
    inset: auto 0 0 0;
    z-index: -1;
    content: "";
    display: inline-block;
    width: 494px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    border-radius: 16px;
    height: 336px;
}
.about__decor-top {
    position: absolute;
    top: 149px;
    right: -72px;
    z-index: -1;
}
.about__media-bottom {
    position: relative;
    width: 458px;
    height: 500px;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    border: 2px solid #ffffff;
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
    border-radius: 18px;
}
.about__bottom-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bottom__img-decor {
    position: absolute;
}
.bottom__img-decor:nth-child(1) {
    top: 13px;
    right: 64px;
}
.bottom__img-decor:nth-child(2) {
    top: -16px;
    right: 13px;
}
.bottom__img-decor:nth-child(3) {
    top: 33px;
    right: -21px;
}
.bottom__img-decor:nth-child(4) {
    top: 268px;
    right: -33px;
}
.bottom__img-decor:nth-child(5) {
    bottom: 150px;
    right: 19px;
}
.bottom__img-decor:nth-child(6) {
    right: -24px;
    bottom: -40px;
}
.bottom__img-decor:nth-child(7) {
    right: -32px;
    bottom: -47px;
}
.bottom__img-decor:nth-child(8) {
    right: -42px;
    bottom: -54px;
}
.content-bottom__desc {
    max-width: 511px;
}
.tab {
    padding-top: 55px;
}
.tab__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.tab__item {
    position: relative;
    padding-bottom: 14px;
}
.label-item-img {
    width: 15px;
}
.tab__list::after,
.tab__item--active::after,
.content-item__more::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background: #ff5b2e;
    opacity: 0.07;
}
.tab__item--active::after {
    width: 95px;
    opacity: 1;
}

.label-item__title {
    font-family: Sora, sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1;
    color: #48496a;
    margin-left: 10px;
}

.tab__content {
    padding-top: 36px;
}
.tab__content-item {
    display: none;
}
.tab__content-item--active {
    display: block;
}
.content-item__desc {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #656689;
    width: 391px;
}
.content-item__more {
    display: inline-block;
    position: relative;
    margin-top: 32px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    color: #ff5d31;
}
.content-item__more::after {
    opacity: 1;
    bottom: -5px;
}
/* ---------------Services-------------------- */
.services {
    margin-top: 190px;
    background: #fff6ed;
    padding: 68px 0 100px;
    scroll-margin-top: 20px;
}
.services__content-top {
    text-align: center;
}
.services__desc {
    font-family: Sora, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1;
    color: #5e6085;
    margin-bottom: 15px;
}

.services__columns {
    margin-top: 71px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 71px;
}
.services__item {
    width: 294px;
    background: #ffffff;
    border: 2px solid rgba(255, 188, 122, 0.26);
    border-radius: 10px;
    padding: 30px;
}
.services__item + .services__item {
    margin-top: 24px;
}
.services__item-heading {
    position: relative;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: #000958;
    padding-left: 12px;
}
.services__item-heading::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: block;
    width: 2px;
    border-radius: 1px;
    background: linear-gradient(#ff5b2e, #ffa187);
}
.services__item-desc {
    margin-top: 18px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #656689;
    width: 244px;
}
.services__item-more {
    display: inline-flex;
    margin-top: 24px;
    font-family: Sora, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1;
    color: #34396a;
    align-items: center;
}
.services__item-more::after {
    content: url(../icon/ArrowUpRight.svg);
    margin: 2px 0 0 9px;
}
.services__item-img {
    position: relative;
    width: 440px;
}
.column-media {
    padding-top: 20px;
}
.services-img__thumb {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    object-fit: cover;
}
.services__item-img::after {
    position: absolute;
    content: "";
    display: inline-block;
    left: 16px;
    right: 16px;
    bottom: 0;
    height: 350px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
    border-radius: 10px;
}
.services__cta {
    margin-top: 45px;
    display: flex;
    justify-content: center;
}
.services-btn {
    min-width: 214px;
    color: #ff5b2e;
    background: transparent;
    border-color: #ff5b2e;
}

/* ---------------Staff-------------------- */
.staff {
    padding: 130px 0;
}
.staff__top {
    text-align: center;
}
.staff__desc {
    font-family: Sora, sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1;
    color: #5e6085;
    margin-bottom: 15px;
}
.staff__list {
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
}
.staff__item {
    text-align: center;
}
.staff__item-images {
    position: relative;
    border-radius: 130px;
    margin: 0 16px;
}
.staff__item-images::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 94%;
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
    border-radius: inherit;
    position: absolute;
    bottom: 0;
    left: 0;
}
.staff__item:nth-child(2) .staff__item-images::before {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}
.staff__item:nth-child(3) .staff__item-images::before {
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}
.staff__item:nth-child(4) .staff__item-images::before {
    background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}
.staff__item-images::after {
    content: "";
    position: absolute;
    width: calc(100% + 36px);
    bottom: 0;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
}
.staff__item:nth-child(1) .staff__item-images::after {
    background-image: url(../icon/staff-decor-1.svg);
}
.staff__item:nth-child(2) .staff__item-images::after {
    background-image: url(../icon/staff-decor-2.svg);
}
.staff__item:nth-child(3) .staff__item-images::after {
    background-image: url(../icon/staff-decor-3.svg);
}
.staff__item:nth-child(4) .staff__item-images::after {
    background-image: url(../icon/staff-decor-4.svg);
}
.staff__item:nth-child(even) .staff__item-images::after {
    background-position: 0 3px;
}
.staff__img {
    position: relative;
    width: 100%;
    display: block;
    z-index: 1;
    border-radius: inherit;
}
.staff__item-title {
    margin-top: 34px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1;
    color: #656689;
}
.staff__item-name {
    margin-top: 14px;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: #000958;
}
.staff__cta-wrap {
    margin-top: 48px;
    display: flex;
    justify-content: center;
}
.staff__cta {
    min-width: 193px;
    color: #ff5b2e;
    background: transparent;
    border-color: currentColor;
    opacity: 0.6;
}
/* ---------------Pricing-------------------- */
.pricing {
    padding: 86px 0;
    background: #fff6ed;
}
.pricing__container {
    width: 994px;
}
.pricing__heading,
.pricing__desc {
    text-align: center;
}
.pricing__desc {
    width: 709px;
    margin-left: auto;
    margin-right: auto;
}
.pricing__switch-wrap {
    margin-top: 38px;
    display: flex;
    justify-content: center;
}
.pricing__switch--inner {
    position: relative;
}
.pricing__switch-label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 276px;
    height: 56px;
    border: 1px solid #ff5b2e99;
    border-radius: 31px;
    padding: 0 40px;
    cursor: pointer;
}
.pricing__switch--value {
    position: relative;
    z-index: 1;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    color: #fff;
    user-select: none;
}
.pricing__switch-label::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 140px;
    height: 100%;
    border-radius: inherit;
    background: #ff5b2e;
}

.pricing__input:checked + .pricing__switch-label::after {
    left: auto;
    right: 0;
    width: 131px;
}
.pricing__input:not(:checked)
    + .pricing__switch-label
    .pricing__switch--value:nth-of-type(2),
.pricing__input:checked
    + .pricing__switch-label
    .pricing__switch--value:nth-of-type(1) {
    color: #ff5b2e;
}
.pricing__switch-self {
    position: absolute;
    right: -112px;
    top: -10px;
}
.pricing__list {
    margin-top: 56px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 44px;
}
.pricing-item {
    background: #ffffff;
    border-radius: 20px;
    padding: 30px 28px;
}
.pricing-item__type {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1;
    color: #ff5b2e;
}
.pricing-item__heading {
    margin-top: 8px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1;
    color: #3f4065;
}
.pricing-item__price {
    margin-top: 24px;
    font-family: Sora, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3.3rem;
    line-height: 1.03;
    color: #000958;
}
.pricing-item__btn {
    margin-top: 22px;
    border: 1px solid rgba(255, 91, 46, 0.6);
    color: #ff5b2e;
    background: transparent;
    width: 100%;
    --height: 44px;
}
.btn--primary {
    background: #ff5b2e;
    color: #fff;
    border-color: currentColor;
}
.pricing-item__list {
    margin-top: 24px;
}
.pricing-item__item {
    display: flex;
    margin-top: 18px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1;
    color: #656689;
}
.pricing-item__item::before {
    content: url(../icon/pricing-check.svg);
    margin-right: 12px;
}
/* ---------------Reviews-------------------- */
.review {
    padding: 104px 0 52px;
}
.revire__inner {
    display: flex;
    align-items: center;
    column-gap: 44px;
}
.review__control {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 1.5px solid #ffd1c4;
    color: #ff5b2e;
    transition: 0.5s;
}
.review__control:nth-of-type(2) {
    margin-left: auto;
}
.review__control:hover {
    background: #ff5b2e;
    color: #fff;
    cursor: pointer;
    border-color: #ff5b2e;
}
.review-item__img {
    position: relative;
    border-radius: 137px;
}
.review-item__img::after {
    content: "";
    position: absolute;
    width: 100%;
    background: #ffda54;
    height: 82%;
    border-radius: inherit;
    inset: auto 0 0 0;
}
.reviews__content {
    overflow: hidden;
}
.reviews__list {
    display: flex;
}
.review-item__content {
    margin-top: 105px;
}
.review-item {
    display: flex;
    align-items: center;
    column-gap: 115px;
    width: 100%;
    flex-shrink: 0;
}
.review__img {
    position: relative;
    z-index: 1;
    width: 274px;
    display: block;
    border-radius: inherit;
}
.review-item__quote {
    margin-top: 24px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #000;
    width: 553px;
}
.review-item__author {
    display: flex;
    align-items: center;
    margin-top: 34px;
    font-family: Sora, sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1;
    color: #282828;
}
.review-item__author::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 2px;
    border-radius: 1px;
    background: #000;
    margin-right: 8px;
}
.review-item__dots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 56px;
    column-gap: 8px;
}
.review__dot {
    width: 8px;
    height: 8px;
    border: 1px solid #ff5b2e;
    border-radius: 4px;
    transition: 0.5s;
}
.review__dot:hover {
    cursor: pointer;
    background: #ff5b2e;
}
.review__dot--active {
    width: 24px;
    background: #ff5b2e;
    cursor: default;
}
/* ---------------Blog-------------------- */
.blog {
    margin-top: 78px;
}
.blog__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blog-content {
    margin-right: 73px;
}
.blog-content__desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #656689;
    width: 350px;
}
.blog__cta {
    margin-top: 24px;
    border: 1px solid #ff5b2e99;
    background: transparent;
    color: #ff5b2e;
    min-width: 182px;
}
.blog__list {
    margin-top: 54px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.blog-item:nth-of-type(2) .blog-item__img-wrap {
    background: #ff997e;
}
.blog-item:nth-of-type(3) .blog-item__img-wrap {
    background: #5bd6e2;
}
.blog-item__img-wrap {
    width: 358px;
    background: #90ccff;
    border-radius: 24px;
    padding: 24px 0 0 36px;
    column-gap: 48px;
}

.blog-item__date {
    font-family: Sora, sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.21;
    color: #fff;
}
.blog-item__img {
    display: block;
    width: 100%;
    margin-top: 25px;
    height: 296px;
    object-fit: cover;
}
.blog-item__info {
    margin-top: 28px;
    padding-right: 23px;
}
.blog-item__title {
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1.55;
    color: #000958;
}
.blog-item__desc {
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #656689;
}
